db=mariadb
db-url=jdbc:mariadb://localhost:3306/keycloak
db-username=keycloak
db-password={{ keycloak_db_password }}

hostname=https://keycloak.local
http-enabled=true
http-host=127.0.0.1
http-port=8180
proxy-headers=xforwarded
