{
  "realm": "{{ keycloak_realm }}",
  "enabled": true,
  "sslRequired": "external",
  "registrationAllowed": false,
  "loginWithEmailAllowed": true,
  "clients": [
    {
      "clientId": "nextcloud",
      "name": "Nextcloud",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": false,
      "clientAuthenticatorType": "client-secret",
      "secret": "{{ nextcloud_client_secret }}",
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "rootUrl": "https://nextcloud.local",
      "redirectUris": ["https://nextcloud.local/*"],
      "webOrigins": ["https://nextcloud.local"]
    },
    {
      "clientId": "lstu",
      "name": "Lstu",
      "enabled": true,
      "protocol": "openid-connect",
      "publicClient": false,
      "clientAuthenticatorType": "client-secret",
      "secret": "{{ lstu_client_secret }}",
      "standardFlowEnabled": true,
      "directAccessGrantsEnabled": false,
      "rootUrl": "https://lstu.local",
      "redirectUris": ["https://lstu.local/oauth2/callback"],
      "webOrigins": ["https://lstu.local"]
    }
  ],
  "components": {
    "org.keycloak.storage.UserStorageProvider": [
      {
        "name": "openldap",
        "providerId": "ldap",
        "subComponents": {
          "org.keycloak.storage.ldap.mappers.LDAPStorageMapper": [
            {
              "name": "username",
              "providerId": "user-attribute-ldap-mapper",
              "subComponents": {},
              "config": {
                "ldap.attribute": ["uid"],
                "user.model.attribute": ["username"],
                "is.mandatory.in.ldap": ["true"],
                "read.only": ["true"],
                "always.read.value.from.ldap": ["false"]
              }
            },
            {
              "name": "first name",
              "providerId": "user-attribute-ldap-mapper",
              "subComponents": {},
              "config": {
                "ldap.attribute": ["givenName"],
                "user.model.attribute": ["firstName"],
                "is.mandatory.in.ldap": ["false"],
                "read.only": ["true"],
                "always.read.value.from.ldap": ["true"]
              }
            },
            {
              "name": "last name",
              "providerId": "user-attribute-ldap-mapper",
              "subComponents": {},
              "config": {
                "ldap.attribute": ["sn"],
                "user.model.attribute": ["lastName"],
                "is.mandatory.in.ldap": ["false"],
                "read.only": ["true"],
                "always.read.value.from.ldap": ["true"]
              }
            },
            {
              "name": "email",
              "providerId": "user-attribute-ldap-mapper",
              "subComponents": {},
              "config": {
                "ldap.attribute": ["mail"],
                "user.model.attribute": ["email"],
                "is.mandatory.in.ldap": ["false"],
                "read.only": ["true"],
                "always.read.value.from.ldap": ["true"]
              }
            }
          ]
        },
        "config": {
          "enabled": ["true"],
          "priority": ["0"],
          "editMode": ["READ_ONLY"],
          "vendor": ["other"],
          "connectionUrl": ["ldap://localhost:389"],
          "authType": ["simple"],
          "bindDn": ["cn=admin,{{ ldap_base_dn }}"],
          "bindCredential": ["{{ ldap_admin_password }}"],
          "usersDn": ["ou=users,{{ ldap_base_dn }}"],
          "usernameLDAPAttribute": ["uid"],
          "rdnLDAPAttribute": ["uid"],
          "uuidLDAPAttribute": ["entryUUID"],
          "userObjectClasses": ["inetOrgPerson"],
          "searchScope": ["1"],
          "importEnabled": ["true"],
          "syncRegistrations": ["false"],
          "trustEmail": ["true"],
          "pagination": ["true"],
          "cachePolicy": ["DEFAULT"],
          "fullSyncPeriod": ["-1"],
          "changedSyncPeriod": ["-1"]
        }
      }
    ]
  }
}
